.forgot-password{
    .white-div{
        h3 {
            padding-bottom: 0;
            padding-bottom: 12px;
        }
        form{
            .button-div{
                .btn-back-sign-up{
                    font-size: 0.9rem;
                    @include paragraph;
                    font-weight: 700;
                    color: $primary-color;
                    text-align: center;
                    width: 100%;
                    padding: 25px 0;
                    outline: none;
                    border: none;
                }
            }
        }
    }
} 


